/* Hoja de estilo personalizada para el Festival Internacional de Títeres Tatá Pirirí */

html{
	scroll-behavior: smooth;
}

body {
    font-family: 'Lato-Regular' !important;
	margin: 0;
}

h2 {
    font-size: 2.85rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.65rem;
}

a {
    color: var(--gris);
    background-color: var(--purpura);
    border: none;
    border-radius: 5px;
    padding: .5rem 2rem;
    transition: all .25s;
}
@media (hover:hover) {
    a:hover {
        color: var(--purpura);
        background-color: var(--gris);
    }
}

:root{
    --bordo: #4C2237;
    --purpura: #7C2263;
    --purpura-op-70: #7c2262bd;
    --amarillo: #E47E1D;
    --amarillo-op-70: #e47d1db9;
    --marron: #A25629;
    --gris: #D9D9D9;
    --marron-oscuro: #311C08;
}

/* ROBOTO FUENTE */
/* @font-face {
    font-family: 'Roboto-Regular';
    src: url('/fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('/fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('/fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('/fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: 'Roboto-Black';
    src: url('/fonts/Roboto-Black.ttf');
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url('/fonts/Roboto-Thin.ttf');
} */
/* LATO FUENTE */
@font-face {
	font-family: 'Lato-Light';
	src: url('/assets/fonts/Lato-Light.ttf');
}
@font-face {
	font-family: 'Lato-Thin';
	src: url('/assets/fonts/Lato-Thin.ttf');
}
@font-face {
	font-family: 'Lato-Regular';
	src: url('/assets/fonts/Lato-Regular.ttf');
}
@font-face {
	font-family: 'Lato-Bold';
	src: url('/assets/fonts/Lato-Bold.ttf');
}
@font-face {
	font-family: 'Lato-Black';
	src: url('/assets/fonts/Lato-Black.ttf');
}

#inicio {
    background: 
        radial-gradient(circle, var(--amarillo-op-70), var(--bordo)),
        url('/assets/img/portada-funcion-p2.jpg');
    background-repeat: no-repeat;
    background-size: cover; /* Ajusta la imagen para cubrir el área */
    background-position: center; /* Centra la imagen */
    height: 100vh;
}

#inicio .accion h2 {
    font-family: 'Lato-Light';
    color: var(--gris);
    margin: 0;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
/* #inicio .accion h4 {
    font-family: 'Roboto-Black';
    color: var(--gris);
    margin: 1rem auto 3rem;
    font-size: 1.15rem;
} */
#inicio .accion h2#edicion {
	font-family: 'Lato-Black';
    color: var(--gris);
    margin: .3rem auto 3rem;
    font-size: 1.15rem;
}


#inicio img{
    height: 60vh;
}
#inicio a {
    color: var(--gris);
    font-family: 'Lato-Regular';
    font-size: .95rem;
    text-transform: uppercase;
    text-decoration: none;
}
@media (hover:hover) {
    #inicio a:hover {
        color: var(--purpura);
    }
}

.btn-accion {
    display: flex;
    align-items: center;
    gap: 2rem;
}

a#programacion {
    position: relative;
    overflow: hidden;
    /* border: 1px solid var(--purpura); */
    color: var(--purpura);
    display: inline-block;
    padding: .5rem 2rem;
    text-decoration: none;
    cursor: pointer;
    background: var(--gris);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

a#programacion span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
}

a#programacion span:last-child {
    color: var(--gris);
    display: flex;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(100%) translateX(-50%);
    width: 100%;
    justify-content: center;
}

a#programacion:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--purpura);
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
}

a#programacion:hover:after {
    transform-origin: bottom center;
    transform: skewY(8.3deg) scaleY(4);
    width: 100%;
    justify-content: center;
}

a#programacion:hover span:last-child {
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
    width: 100%;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

div#entrada {
    /* padding: 0rem 0rem 0rem 1rem; */
    border-radius: 5px; 
    display: flex;
    align-items: center;
    background-color: var(--purpura);
}

section#inicio div#entrada i {
	color: var(--gris);
}

section#inicio div#entrada img {
    height: 3vh !important;
    padding: 0rem 1rem;
}

section#inicio div#entrada a {
    border-radius: 0px 5px 5px 0px;
    padding-left: .45rem;
}

#int {
    background-color: var(--bordo);
}

#int h4{
    font-family: 'Lato-Light';
    color: var(--gris);
    font-size: .95rem;
}

#int img{
	height: 10vh;
}


#info-programacion{
    display: flex;
	flex-direction: column;
	/* gap: 2rem; */
	padding: 5rem 0rem;
    justify-content: center;
    align-items: center;
	height: 90vh;
    background-color: var(--purpura);
    color: var(--gris);
}
#info-programacion h2{
	margin: 0;
	font-family: 'Lato-Light';
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#info-entradas{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--gris); */
    /* background-color: #6b371a; */
	background: linear-gradient( 20deg, var(--marron), #632e12);
    color: var(--gris);
}

#info-sedes{
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--purpura);
    color: var(--gris);
	padding: 5rem 0rem;	
}

.card-horizontal {
	display: flex;
	color: var(--gris);
	background-color: #1f2029;
	border-radius: 10px;
	align-items: center;
	justify-content: space-around;
	height: 40vh;
	overflow: hidden;
}

.card-horizontal img {
	height: 100%;
	background-color: var(--gris);
}

.card-horizontal p {
	position: relative;
	font-size: .845rem;
	margin: 0;
	/* visibility: hidden; */
	opacity: 0;
	bottom: -40px;
	transition: all 500ms;
}

.card-horizontal:hover p{
	transform: translateY(-20px);
	opacity: 1;
}

.card-horizontal h5 {
	font-family: 'Lato-Light';
	letter-spacing: .03rem;
}

.card-horizontal h3,
.card-horizontal h5 {
	margin: 0;
}

.card-horizontal > div:first-of-type {
	padding: 1rem 2rem;
	gap: .5rem;
}

#info-sedes a:first-of-type {
    padding: 0rem;
    border-radius: 10px;
    text-decoration: none;
    object-fit: cover;
    position: relative;
    transition: all 0.3s;
}

#info-sedes a:first-of-type .card-horizontal {
    transform: scale(1);
    transition: all 0.3s ease;
}

#info-sedes a:first-of-type:hover .card-horizontal {
    transform: scale(1.15);
	color: var(--gris);
	box-shadow: 0px 0px 20px var(--dark-blue);
}
#info-sedes h2,
#info-sedes h3 {
	margin: 0;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


.card-entrada{
    height: 40vh;
    width: 20vw;
    border-radius: 10px;
    background-color: var(--amarillo);
    padding: 2rem;
    /* box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 2px 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3); */
}



/* Entradas */

/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap'); */

/* :root {
	font-size: 20px;
	--dark-blue: #1f2029;
	--white-gr: #c4c3ca;
	--yellow: #ffeba7;
	--yellow-2: #f8ab37;
} */

#info-entradas body{
	color: var(--white-gr);
	background-color: var(--marron);
	overflow-x: hidden;
}
#info-entradas h1 {
	font-family: 'Lato-Regular';
	/* font-weight: 700; */
	color: var(--white-gr);
	font-size: 36px;
}
#info-entradas h2 {
	font-family: 'Lato-Light';
	margin: 0;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.char {
	/* transform: translateY(115px); */
	transition: transform .5;
}
#info-entradas p {
	margin-bottom: 2rem;
}

.color-yellow {
	color: var(--yellow);
}
.size-22 {
	font-size: 22px;
}

.logo {
	position: absolute;
	top: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
}
.section{
	position: relative;
	width: 100%;
	display: block;
	z-index: 2;
    margin-left: 50;
    margin-right: 50;
	gap: .5rem;
}
[type="radio"]:checked,
[type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}
.checkbox-ticket:checked + label,
.checkbox-ticket:not(:checked) + label{
	position: relative;
	width: 250px;
	display: inline-block;
	cursor: pointer;
	padding: 50px 0 25px;
	text-align: center;
	margin: 5px;
	border-radius: 0;
	background-color: transparent;
	overflow: hidden;
	transition: all 250ms linear;
	justify-content: space-around;
}
.checkbox-ticket:checked + label:before,
.checkbox-ticket:not(:checked) + label:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	display: block;
	background: var(--amarillo);
}
.checkbox-ticket:not(:checked) + label:after{
	content: '';
	position: absolute;
	top: -100%;
	left: 100%;
	width: 100%;
	height: 100%;
	border-radius: 200%;
	z-index: -1;
	display: block;
	background-color: var(--amarillo);
	opacity: 0.4;
	transition: all 250ms linear;
}
.checkbox-ticket:checked + label:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 0;
	z-index: -1;
	display: block;
	background-color: var(--amarillo);
	transition: all 250ms linear;
}
.checkbox-ticket:checked + label{
	transform: translateY(-10px);
}
.checkbox-ticket + label .duration{
	font-family: 'Lato-Bold', sans-serif;
	font-size: 1.2rem;
	line-height: 1.25rem;
	text-transform: uppercase;
	color: var(--marron);
	display: block;
	transition: all 250ms linear;
}
.checkbox-ticket + label:last-child span.duration{
	line-height: 1.85rem;
}
.checkbox-ticket + label .duration span:first-of-type{
	font-family: 'Lato-Black';
    border: 2.2px solid var(--marron);
    padding: .2rem .4rem;
    line-height: 2rem;
    border-radius: 5px;
}
.checkbox-ticket + label:hover .duration span:first-of-type{
	font-family: 'Lato-Black';
    border: 2.2px solid #f4f4f47c;
    padding: .2rem .4rem;
	line-height: 2rem;
    border-radius: 5px;
}
.checkbox-ticket:checked + label .duration span:first-of-type{
    border: 2.2px solid #f4f4f47c;
}
.checkbox-ticket + label .price{
	font-family: 'Lato-Black', sans-serif;
	font-size: 40px;
	line-height: 1;
	letter-spacing: -3.5px;
	text-transform: uppercase;
	color: var(--marron);
	display: block;
	transition: all 250ms linear;
}
.checkbox-ticket:checked + label .price,
.checkbox-ticket:checked + label .duration	{
	color: #d9d9d9c4;
}
.checkbox-ticket + label:hover .price,
.checkbox-ticket + label:hover .duration,
.checkbox-ticket + label:hover .time {
	color: #d9d9d9;
}
.checkbox-ticket + label .price span{
	font-family: 'Lato-Regular';
	/* font-size: 26px; */
	/* line-height: 1; */
	letter-spacing: 4px;
}
.checkbox-ticket + label .uil {
	font-size: 30px;
	line-height: 1;
	color: var(--marron);
	display: block;
	transition: all 250ms linear;
}
.checkbox-ticket + label .time {
	font-family: 'Lato-Light', sans-serif;
	font-weight: 700;
	font-size: 15px;
	line-height: 1;
	text-transform: uppercase;
	color: var(--marron);
	display: block;
	transition: all 250ms linear;
	border-top: 5.5px dotted;
	padding-top: 1.3rem;
}
.top-dots,
.bottom-dots {
	position: absolute;
	width: 100%;
	display: block;
	top: 0;
	transform: translateY(-50%);
	z-index: 10;
}
.bottom-dots {
	top: 100%;
}

.dots span {
	position: absolute;
	width: 6px;
	height: 6px;
	display: block;
	border-radius: 50%;
	top: 0;
	transform: translateY(-50%);
	background-color: var(--marron);
}
.dots span:nth-child(1){
	width: 30px;
	height: 30px;
	left: -15px;
}
.dots span:nth-child(2){
	width: 30px;
	height: 30px;
	right: -15px;
}
.dots span:nth-child(3){
	left: 19px;
}
.dots span:nth-child(4){
	left: 29px;
}
.dots span:nth-child(5){
	left: 39px;
}
.dots span:nth-child(6){
	left: 49px;
}
.dots span:nth-child(7){
	left: 59px;
}
.dots span:nth-child(8){
	left: 69px;
}
.dots span:nth-child(9){
	left: 79px;
}
.dots span:nth-child(10){
	left: 89px;
}
.dots span:nth-child(11){
	left: 99px;
}
.dots span:nth-child(12){
	left: 109px;
}
.dots span:nth-child(13){
	left: 119px;
}
.dots span:nth-child(14){
	left: 135px;
}
.dots span:nth-child(15){
	left: 145px;
}
.dots span:nth-child(16){
	left: 155px;
}
.dots span:nth-child(17){
	left: 165px;
}
.dots span:nth-child(18){
	left: 175px;
}
.dots span:nth-child(19){
	left: 185px;
}
.dots span:nth-child(20){
	left: 195px;
}
.dots span:nth-child(21){
	left: 205px;
}
.dots span:nth-child(22){
	left: 215px;
}
.dots span:nth-child(23){
	left: 225px;
}
.dots span:nth-child(24){
	left: 235px;
}
.dots span:nth-child(25){
	left: 245px;
}
.btn{  
	border-radius: 4px;
	height: 48px;
	font-size: 16px;
	font-family: 'Lato-Regular', sans-serif;
	font-weight: 700;
    transition: all 200ms linear;
	padding: 0 35px;
	letter-spacing: 0.2px;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-ms-flex-pack: center;
	text-align: center;
	border: none;
	color: var(--gris);
    background-color: var(--amarillo);
}
.btn:active,
.btn:focus{
	box-shadow: none;
}
.btn:hover{
	color: var(--purpura);
    background-color: var(--gris);
}

.checkbox-ticket:not(:checked) ~ .btn{
	pointer-events: none;
	opacity: 0.2;
}
.checkbox-ticket:checked ~ .btn{
	pointer-events: auto;
	opacity: 1;
}

.compar-entradas a {
	text-decoration: none;
	gap: .3rem;
}

.aclaracion-wpp p {
	font-size: .85rem;
}

.entradas-tickets{
	margin-bottom: 3rem;
	padding: 3rem 0rem;
	border-radius: 20px;
	box-shadow: 0px 0px 20px #1f2029;
	background: var(--marron);
	background: radial-gradient(circle, var(--marron), var(--marron-oscuro));
	/* background: radial-gradient(circle, var(--amarillo-op-70), var(--bordo)) */
}

.entradas-tickets label img:first-of-type {
	margin-bottom: .5rem;
	object-fit: fill;
	opacity: .3;
	width: 3vw;
	transition: all .3s;
}
.entradas-tickets label:hover img:first-of-type,
.entradas-ticket .checkbox-ticket:checked + label img:first-of-type {
	opacity: 1;
}

#info-entradas .entradas-tickets label{
	display: flex;
	border: none;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
	border-radius: 10px;
	transition: all 0.3s;
}

@media (hover:hover) {
	#info-entradas .entradas-tickets label:hover{
		transform:scale(1.09);
		box-shadow: 0px 0px 60px #000;
		rotate: 5deg;
	}
}

#info-entradas .entradas-tickets > div p:first-of-type {
	text-align: center;
	margin: 0 0 1rem;
}


/* FIN Entradas */



footer{
	display: flex;
	justify-content: space-between;
	height: 50vh;
	padding: 2rem 4rem;
	background-color: var(--bordo);
	gap: 10rem;
}
footer > div:first-of-type{
	gap: 2rem;
}

footer p {
	font-family: 'Lato-Regular';
	color: #9f597b;
}
footer a {
	font-family: 'Lato-Regular';
	color: #9f597b;
	text-decoration: none;
	background-color: transparent;
	padding: 0rem;
	transition: all .3s;
}
footer #int img {
	height: 12vh;
	opacity: .5;
}
@media (hover:hover) {
	footer a:hover {
		/* font-family: 'Roboto-Black'; */
		color: var(--amarillo);
		background-color: transparent;
	}
}

.item-footer {
	width: 100%;
}
.item-footer > div:first-of-type{
	display: flex;
	flex-direction: column;
}
.item-footer:nth-child(2) {
	margin-top: 1em;
}
.item-footer p a {
	line-height: 2.65rem;
	/* border: 2px solid #d9d9d92c; */
	border: 1px solid #5f1c3e;
	background-color: #5f1c3e;
}
@media (hover:hover) {
	.item-footer p a:hover {
		border: 1px solid var(--amarillo);
	}
}

footer .logos-footer {
	display: flex;
	gap: .25rem;
}

@media (max-width:960px) {
	footer .logos-footer {
		width: 100%;
		justify-content: space-around;
	}
}

#nav-trigger {
    height: 100px; 
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#navegador{
	display: flex;
	align-items: center;
	position: fixed;
	top: 20px;
	
	height: fit-content;
	width: fit-content;
	padding: .5rem 0rem;

	border-radius: 10px;
	background-color: var(--amarillo-op-70);
	backdrop-filter: blur(3.5px);
	z-index: 999;

	transition: all .3s;
}

#navegador ul {
	height: 5vh;
	margin: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0rem 1rem;
}

#navegador ul li {
	list-style: none;
	color: var(--gris);
	height: 100%;
}

#navegador ul > div.nav-redes {
	display: flex;
	height: 100%;
    gap: 1rem;
    padding: 0rem .5rem;
}
#section-navegador #navegador ul > div.nav-redes a {
	padding: 0;
}

#navegador ul li img {
	height: 100%;
	opacity: .55;
	transition: all 0.3s;
}
@media (hover:hover) {
	#navegador ul li:hover img {
		opacity: 1;
	}
}

#section-navegador {
	display: flex;
	justify-content: center;
}

#section-navegador #navegador a {
	font-size: 1rem;
	color: var(--gris);
	background-color: transparent;
	text-decoration: none;
	padding: .5rem 1rem;
}
@media (hover:hover) {
	#section-navegador #navegador a:hover {
		color: var(--purpura);
	}
}

#quienes-somos{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* height: 100vh; */
	padding: 4rem 0rem;
	background-color: var(--amarillo);
	color: var(--gris);
}
#quienes-somos h2 {
	font-family: 'Lato-Light';
	margin: 1.5rem auto;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#otros-festivales{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* height: 100vh; */
	padding: 4rem 0rem 2rem;
	background-color: var(--marron-oscuro);
	color: var(--gris);
}
#otros-festivales h2 {
	margin-top: 0;
	font-family: 'Lato-Thin';
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.festivales{
	display: flex;
	gap: 2rem;
}

.festivales a {
	height: 40svh;
	width: auto;
	text-decoration: none;
	align-items: center;
	justify-content: space-between;
    display: flex;
    flex-direction: column;
	background-image: linear-gradient(0deg, var(--marron-oscuro) 30%, var(--amarillo-op-70) 100%), url('/assets/img/portada-funcion-p2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	transition: all .3s;
}

.festivales a:nth-of-type(2) img {
	/* height: 20svh; */
	width: 30svh;
	object-fit: contain;
}

.festivales a p {
	width: 100%;
	padding: .2rem 1rem;
	color: var(--gris);
	text-align: center;
	/* background-color: var(--bordo); */
}

@media (hover:hover) {
	.festivales a:hover {
		transform: scale(1.075);
	}
}

#sedes{
    display: flex;
	gap: 2rem;
	padding: 5rem 0rem;
    justify-content: center;
    align-items: center;

    background-color: var(--purpura);
    color: var(--gris);
}
#sedes:nth-child(1){
	width: 80%;
}

#sedes img {
	height: 70vh;
	position: relative;
}

.sedes-general{
	display: flex;
	width: 75vw;
}

.sedes-info{
    position: relative;
    left: 3rem;
	display: flex;
	flex-direction: column;
	
	gap: 1.25rem;
	box-sizing: content-box;
	width: 40%;
	height: fit-content;
    
	padding: 1rem 1.85rem;

	/* border: 1px solid var(--bordo); */
	border-radius: 10px;
	background-color: #6d1955;
}
.sedes-info h1,
.sedes-info h4,
.sedes-info p {
	margin: 0;
}
.sedes-info h1{
	font-weight: 200;
	color: var(--amarillo);
	/* border-bottom: 1px solid var(--amarillo); */
	padding-bottom: .3rem;
	margin-bottom: .3rem;
}
.sedes-info h4{
	font-size: .95rem;
}
.sedes-info p {
	font-size: .8rem;
}

/* .sub-sedes-info{
	padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
	justify-content: space-between;
} */

.sub-sedes-info {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: .25rem;
	grid-auto-rows: minmax(60px, auto);
}

iframe#mapa {
	border: none;
	filter: grayscale(100%);
}


/* OBRAS */


#obras {
	display: flex;
	padding: 5rem 0rem;
	gap: 2rem;
    justify-content: center;
    align-items: center;
	overflow-x: hidden;
	position: relative;

    background-color: var(--purpura);
    color: var(--gris);
	box-sizing: border-box;
	
}

#obras h2 {
	font-family: 'Lato-Light';
	margin: 1.5rem auto;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#obras > div:first-of-type {
	display: flex;
	width: 95vw;
	flex-direction: column;
	align-items: center;
	/* box-shadow: 1px 10px 30px #00000071; */
}

#obras div.slider {
    display: flex;
    gap: 2rem;
    overflow: hidden;
    height: max-content;
	width: auto;
	/* width: 100%; */

    scrollbar-width: none;
	scroll-behavior: smooth;
}

#obras div.slider article {
	width: 100vw;
    display: flex;
    flex-direction: row;
    flex: 0 0 100%;
    /* gap: 0; */
    justify-content: start;
    border-radius: 10px;
    overflow: hidden;
}

#obras div.slider article div {
	height: auto;
	width: 50vw;
	gap: .5rem;
}

#obras div article div img {
	height: 100%;
	width: 100%;
	overflow: hidden;
	object-fit: cover;
}

#obras div.slider::-webkit-scrollbar {
    display: none;
}

#obras .slider-container{
	width: 100%;
	padding: 0rem 2rem;
	overflow: hidden;
}

.info-obras {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	padding: 2.5rem 2rem 1rem;
	background-color: var(--gris);
}
.info-obras p {
	padding-top: 1rem;
	overflow: auto;
	font-size: smaller;
}

.info-obras i {
	color: var(--bordo);
}

div article .info-obras h4,
div article .info-obras h6,
div article .info-obras p {
	margin: 0;
	color: var(--bordo);
}
#obras div article h6:first-of-type{
	font-family: 'Lato-Bold';
	font-size: .75rem;
}
#obras div article h6{
	text-transform: uppercase;
}

/* FIN OBRAS */




/* NOSOTROS */

#nosotros-tarjetas {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, auto);
	padding: 0rem 2rem;
	margin:  1rem 2rem;
	gap: 3rem .8rem;
}

#nosotros-tarjetas > article {
	background-color: var(--gris);
	border-radius: 10px;
	border: 1px solid var(--gris);
	padding-bottom: 1.5rem;
	/* padding: 1.5rem 1rem; */
	color: var(--bordo);
	text-align: center;
	transition: all .3s;
}

#nosotros-tarjetas img {
	height: 25vh;
	width: auto;
	object-fit: cover;
	border-radius: 6px;
	position: relative;
	transition: all .5s;
	align-items: center;
}
@media (hover:hover) {
	#nosotros-tarjetas article:hover img {
		transform: scale(1.05);
		box-shadow: 0px 0px 10px #4b4b4b;
		transform: translateY(-20px);
	}
	#nosotros-tarjetas > article:hover {
		transform: scale(1.02);
		box-shadow: 0px 7px 35px var(--marron);
	}
}

#nosotros-tarjetas article h5,
#nosotros-tarjetas article p {
	margin: 0;
}

#nosotros-tarjetas article div {
	display: flex;
	gap: .7rem;
	justify-content: center;
}

#nosotros-tarjetas article div a {
	padding: 0;
	background: transparent;
	color: var(--bordo);
}
@media (hover:hover){
	#nosotros-tarjetas article div a:hover {
		color: var(--amarillo);
		background-color: transparent;
	}
}

.gente {
	display: flex;
	/* flex-direction: column; */
	width: 40vw;
	gap: .5rem;
	align-items: center;
	justify-content: center;
	margin: 2rem auto;
	border: 3px solid var(--gris);
	border-radius: 10px;
	transition: all .5s;
	padding: 1rem;
}

.gente p {
	color: var(--gris);
	margin: 0;
}
.gente i {
	opacity: 1;
	transition: all .3s;
}

a.sumate-equipo {
	text-align: center;
    text-decoration: none;
}

@media (hover:hover) {
	#nosotros-tarjetas > a.sumate-equipo:hover {
		transform: scale(1.02);
		box-shadow: 0px 7px 35px var(--marron);
	}
	#nosotros-tarjetas > a.sumate-equipo:hover article img {
		transform: scale(1.05);
		box-shadow: 0px 0px 10px #4b4b4b;
		transform: translateY(-20px);
	}
}

/* FIN NOSOTROS */


/* FORMULARIO */

#form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* height: 70vh; */
	padding: 4rem 0rem;
	background-color: var(--gris);
	color: var(--bordo);
}
#form h2 {
	text-align: start;
	width: 100%;
	font-family: 'Lato-Bold';
	font-size: 1.65rem;
	margin: 1.5rem auto;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

div#form-contacto {
	/* width: 90%; */
	display: grid;
	/* gap: 2rem; */
	grid-template-columns: 1fr;
	padding: 1.3rem 3rem .7rem;
	margin: 0rem 8rem;
	background-color: var(--amarillo);
	border-radius: 10px;
}

div#form-contacto p {
	color: var(--gris);
	display: grid;
	gap: .5rem;
	height: min-content;
}

div#form-contacto p label {
	display: grid;
	gap: 1rem;
}

div#form-contacto p:nth-child(1) label,
div#form-contacto p:nth-child(2) label:first-of-type {
	grid-template-columns: 1fr 1fr;
}

div#form-contacto p label.mas-datos {
	grid-template-columns: 1fr 1fr 1fr;
}

div#form-contacto p label input,
div#form-contacto p label textarea,
div#form-contacto p label select {
	font-family: 'Lato-Regular';
	font-size: .75rem;
	height: auto;
	/* height: 5svh; */
	padding: .5rem;
	color: var(--gris);
	border: none;
	background-color: #c46a17;
	border-radius: 10px;
}
div#form-contacto p label select {
	height: auto;
	padding: .6rem;
	line-height: 2rem;
}

div#form-contacto p label textarea[name=sinopsis],
div#form-contacto p label textarea[name=message] {
	height: 8rem;
	resize: none;
}


div#form-contacto input[placeholder]:focus ,
div#form-contacto textarea[placeholder]:focus {
	color: var(--gris);
}
div#form-contacto input::placeholder,
div#form-contacto textarea::placeholder {
    color: var(--marron-oscuro);
}
div#form-contacto input::-webkit-input-placeholder,
div#form-contacto textarea::-webkit-input-placeholder {
	color: var(--marron-oscuro);
}
div#form-contacto input:-moz-placeholder,
div#form-contacto textarea:-moz-placeholder {
	color: var(--marron-oscuro);
}
div#form-contacto input::-moz-placeholder,
div#form-contacto textarea::-moz-placeholder {
	color: var(--marron-oscuro);
}
div#form-contacto input:-ms-input-placeholder,
div#form-contacto textarea:-ms-input-placeholder {
	color: var(--marron-oscuro);
}

form {
	width: 100%;
}

form div#form-contacto p.btn-enviar { 
	display: flex;
	justify-content: center;
	width: -webkit-fill-available;
	margin: auto 2rem;
	padding: 1rem 0rem;
}

form p.btn-enviar a[type="submit"] {
	width: 100%;
	text-align: center;
	padding: 1rem 0rem;
}

form button[type="submit"] {
	width: max-content;
	text-align: center;
	text-transform: uppercase;
	padding: .5rem 1rem;
	box-shadow: none;
	border: none;
	
	font-family: 'Lato-Bold';
	font-size: 1rem;
	color: var(--gris);
	background-color: var(--purpura);
}

.modal-body form button[type="submit"] {
	width: 100%;
	margin-top: 1rem;
	text-align: center;
	text-transform: uppercase;
	padding: .5rem 1rem;
	box-shadow: none;
	border: none;
	
	font-family: 'Lato-Bold';
	font-size: 1rem;
	color: var(--gris);
	background-color: var(--purpura);

	transition: all .3s;
}
@media (hover:hover) {
	.modal-body form button[type="submit"]:hover {
		background-color: var(--gris);
	}
	div#modal-formulario button:hover {
		color: var(--purpura);
	}
}


#form-contacto label select#seleccion-publico option:first-child {
	font-family: 'Lato-Regular';
	color: var(--marron-oscuro);
	background-color: var(--gris);
	font-size: .65rem;
}
#form-contacto label select#seleccion-publico option {
	font-family: 'Lato-Bold';
	font-size: .8rem;
}

p.archivos input {
	display: none;
}

p.archivos {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#form-contacto .archivos label {
	display: flex !important;
	gap: .5rem;
	align-items: center;
	border: 1px dashed var(--gris);
	cursor: pointer;
	padding: .5rem;
	border-radius: 10px;
	/* aspect-ratio: 1/1; */
	transition: all .3s;
}
@media (hover:hover) {
	.archivos label:hover {
		border: 1px solid transparent;
		background-color: var(--gris);
		color: var(--marron-oscuro);
	}
}

div#form-contacto p i input[type="file"]::file-selector-button {
	/* background-color: #000;
	visibility: hidden; */
}

#form-contacto .custom-file-container .input-visible,
#form-contacto .custom-file-container .browse-button {
	background-color: #c46a17;
	height: auto !important;
	transition: all .3s;
}

#form-contacto .custom-file-container .input-visible{
	border: none;
	border-radius: 7px;
}

#form-contacto .custom-file-container .browse-button {
	border-left: 2px solid var(--gris);
	transition: all .3s;
}

#form-contacto .custom-file-container span.input-visible,
#form-contacto .custom-file-container .browse-button {
	font-size: .75rem;

}

@media (hover:hover) {
	#form-contacto .custom-file-container .input-visible:hover{
		background-color: var(--gris);
		/* box-shadow: 0px 6px 6px #0000006c; */
		color: var(--marron);
		outline: 1px solid var(--gris);
		transform: scale(1.05);
	}
	#form-contacto .custom-file-container span.browse-button:hover {
		color: var(--gris);
	}
}

#form-contacto .custom-file-container .label-container {
	display: none;
}

#form-contacto .custom-file-container .label-container .clear-button {
	background-color: transparent;
	color: var(--gris);
}
#form-contacto .image-preview{
	height: 50vh;
	border-radius: 10px;
}

#form-contacto .custom-file-container .input-container{
	width: fit-content;
}

#form-contacto .custom-file-container .image-preview-item {
	aspect-ratio: 1 / 1;
	height: 16vh;
}

#form-contacto > div:first-of-type > div {
	display: flex;
	height: fit-content;
	gap: .75rem;
	align-items: center;
	font-size: 18px;
	line-height: 20px;
	color: var(--gris);
	border: 2px solid var(--gris);
	background-color: var(--amarillo);
	border-radius: 10px;
	overflow: hidden;
}
#form-contacto > div:first-of-type > div p {
	margin: 0;
	padding: .0rem .75rem .0rem 0rem;
}
#form-contacto > div:first-of-type > div > div {
	color: var(--bordo);
	background-color: var(--gris);
	padding: .75rem .75rem .75rem .75rem;
}

a#btn-transicion {
    position: relative;
    overflow: hidden;
    color: var(--purpura);
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    background: var(--gris);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

a#btn-transicion span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
}

a#btn-transicion span:last-child {
    color: var(--gris);
    display: flex;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.88, 0, 0.2, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(100%) translateX(-50%);
    width: 100%;
    justify-content: center;
    align-content: center;
	flex-wrap: wrap;
}

a#btn-transicion:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--purpura);
    transform-origin: 0% 50%;
    /* transform-origin: bottom center; */
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
}

a#btn-transicion:hover:after {
    transform-origin: 0% 50%;
    /* transform-origin: bottom center; */
    transform: skewY(2.3deg) scale(18);
    width: 100%;
    justify-content: center;
}

a#btn-transicion:hover span:last-child {
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
    width: 100%;
    transition: all 600ms cubic-bezier(0.48, 0, 0.12, 1);
}

.div-enviar {
	margin-top: 2rem;
	color: var(--gris);
}


/* FIN FORMUARIO */




/* Mapas */
#obras-y-sedes {
	background-color: var(--purpura);
}

.mapas-teatros ul {
	justify-content: center;
}

.mapas-teatros .nav-link,
.mapas-teatros .nav-link {
	color: var(--amarillo);
}

.mapas-teatros .nav-link:focus,
.mapas-teatros .nav-link:hover {
	color: var(--amarillo);
}

.mapas-teatros .nav-link:hover {
	border-color: var(--amarillo);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	color: var(--purpura);
	background-color: var(--gris);
}

.mapas-teatros div[role="tabpanel"]{
	background-color: var(--gris);
}


/* Fin Mapas */




/* Modal para formulario Sumate */
div#modal-formulario {
	border: none;
	background: linear-gradient(90deg, var(--amarillo-op-70), var(--bordo)), url('/assets/img/Perfil-Usuario.png');
}
div#modal-formulario h5,
div#modal-formulario button, 
div#modal-formulario p {
	color: var(--gris);
}

div#modal-formulario form {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	justify-content: center;
	align-items: center;
}

div#modal-formulario form#contact-form p {
	margin: 0;
}

div#modal-formulario form#contact-form input,
div#modal-formulario form#contact-form textarea {
	border-radius: 5px;
	padding: .3rem;
}

div#modal-formulario form#contact-form p,
div#modal-formulario form#contact-form label,
div#modal-formulario form#contact-form input,
div#modal-formulario form#contact-form textarea	{
	width: 100%;
}