@media (max-width:960px) {
    #info-entradas div:has(.col-12.text-center){
        padding: 0rem;
    }

    div.entradas-tickets {
        padding: 0rem;
        box-shadow: none;
        border-radius: 0px;
        background: transparent;
        overflow-x: scroll;
    }

    div.entradas-tickets > div:has(#ticket-1){
        align-items: start;
        width: 200vw;
    }

    .entradas-tickets label img:first-of-type {
        width: 10vw;
    }


    div.accion {
        padding: 0rem .8rem;
    }
    
    div.accion .btn-accion {
        position: absolute;
        bottom: 5rem;
        width: fit-content;
        height: 60px;
        gap: 0;
        border-radius: 5px;
        overflow: hidden;
    }
    
    div.accion .btn-accion #programacion,
    div.accion .btn-accion #entrada {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        border-radius: 0px;
    }

    div.accion .btn-accion #programacion {
        padding: .5rem 1rem;
    }

    section#inicio h2:first-of-type {
        text-align: center;
    }
    
    section#inicio img {
        height: 40vh;
    }

    section#int > div:first-of-type {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        text-align: center;
        padding: .5rem 1rem;
    }

    section#int > div > h4 {
        grid-column: 1 / -1;
    }
    
    section#int > div > img {
        height: 7vh;
    }


    div#int {
        align-items: center;
        margin-top: 2rem;
    }

    footer {
        display: block !important;
        height: fit-content;
        padding: 1rem 1rem 3rem 1rem;
    }
    footer > div:first-of-type {
        flex-direction: column;
    }
    footer #int img {
        height: 8vh;
    }

    .item-footer > div:first-of-type{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .item-footer:nth-child(1){
        margin-top: 2rem;
    }

    .item-footer:nth-child(2) div {
        gap: .5rem;
    }
    .item-footer:nth-child(2) a {
        border: 1px solid #9f597b;
        padding: .5rem !important;
        justify-content: center;
        align-items: center;
        display: flex;
        text-align: center;
    }


    footer p {
        grid-column: 1 / -1;
    }
    
    footer a.prueba-gsap {
        justify-content: end;
        display: flex;
        margin-top: 3rem;
    }

    .card-horizontal {
        padding: .5rem 1rem .5rem 0rem;
        background-color: var(--gris);
        height: fit-content;
    }


    .card-horizontal img {
        height: auto;
        width: 30vw;
    }

    .card-horizontal h2 {
        font-size: 1.3rem;
        font-weight: 600;
        color: var(--bordo);
    }

    .card-horizontal h5 {
        display: none;
    }

    .card-horizontal p {
        color: var(--bordo);
    }


    #card-horizontal-mobile {
        display: block;
        margin: auto 2rem;
    }

    .card-horizontal > div:first-of-type {
        padding: 0rem;
    }
    .card-horizontal p {
        bottom: 0px;
        opacity: 1;
    }
    
    #info-sedes > a {
        margin: 1rem .5rem 0rem;
    }

    .sedes-general {
        width: 100%;
        flex-direction: column-reverse;
    }
    .sedes-general > div:nth-child(2) {
        position: relative;
        top: 8rem;
        height: fit-content;
        left: 12rem;
        z-index: 99;
    }

    #obras {
        padding: 5rem 0rem 0rem;
    }

    #obras .slider-container {
        padding: 0rem .5rem;
        overflow: auto;
    }

    #obras div.slider {
        overflow: visible;
    }
    
    #obras div.slider article {
        width: 100%;
        height: fit-content;
        flex-direction: column-reverse;
    }

    #obras div.slider article div {
        width: 100%;
    }

    #obras div article div img {
        height: max-content;
        width: 100%;
    }

    #obras h2 {
        text-align: start;
        line-height: 2.75rem;
        margin: 1.5rem .5rem;
    }

    #sedes {
        padding: 0rem 0rem 5rem;
        margin-bottom: 4rem;
    }

    #sedes img {
        height: 30vw;
    }

    .sedes-info {
        left: 0rem;
        width: fit-content;
        z-index: 99;
        bottom: -5rem;
    }
}






/* Más de 960 px de viewport */

@media (min-width:960px) {
    #card-horizontal-mobile {
        display: none;
    }
}