@media (max-width:960px) {
    h2 {
        font-size: 2rem;
    }

    #info-entradas {
        padding: 1rem 0rem 0rem;
    }

    #info-entradas div:has(.col-12.text-center){
        padding-right: 0rem;
        padding-left: 0rem;
    }

    #info-entradas p {
        margin: auto 2rem 1rem;
    }

    div.entradas-tickets {
        padding: 0rem .85rem;
        box-shadow: none;
        border-radius: 0px;
        background: transparent;
        overflow-x: scroll;
    }

    div.entradas-tickets > div:has(#ticket-1){
        align-items: start;
        width: 200vw;
    }

    .entradas-tickets label img:first-of-type {
        width: 10vw;
    }


    div.accion {
        padding: 0rem .8rem;
    }
    
    div.accion .btn-accion {
        position: absolute;
        bottom: 5rem;
        width: fit-content;
        height: 60px;
        gap: 0;
        border-radius: 5px;
        overflow: hidden;
    }
    
    div.accion .btn-accion #programacion,
    div.accion .btn-accion #entrada {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        border-radius: 0px;
    }

    div.accion .btn-accion #programacion {
        padding: .5rem 1rem;
    }

    section#inicio h2:first-of-type {
        text-align: center;
    }
    
    section#inicio img {
        height: 40vh;
    }

    section#int > div:first-of-type {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        text-align: center;
        padding: .5rem 1rem;
    }

    section#int > div > h4 {
        grid-column: 1 / -1;
    }
    
    section#int > div > img {
        height: 7vh;
    }


    div#int {
        align-items: center;
        margin-top: 2rem;
    }

    footer {
        display: block !important;
        height: fit-content;
        padding: 1rem 1rem 3rem 1rem;
    }
    footer > div:first-of-type {
        flex-direction: column;
    }
    footer #int img {
        height: 8vh;
    }

    .item-footer > div:first-of-type{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .item-footer:nth-child(1){
        margin-top: 2rem;
    }

    .item-footer:nth-child(2) div {
        gap: .5rem;
    }
    .item-footer:nth-child(2) a {
        border: 1px solid #9f597b;
        padding: .5rem !important;
        justify-content: center;
        align-items: center;
        display: flex;
        text-align: center;
    }


    footer p {
        grid-column: 1 / -1;
    }
    
    footer a.prueba-gsap {
        justify-content: end;
        display: flex;
        margin-top: 3rem;
    }

    .card-horizontal {
        padding: .5rem 1rem .5rem 0rem;
        background-color: var(--gris);
        height: fit-content;
    }


    .card-horizontal img {
        height: auto;
        width: 30vw;
    }

    .card-horizontal h2 {
        font-size: 1.3rem;
        font-weight: 600;
        color: var(--bordo);
    }

    .card-horizontal h5 {
        display: none;
    }

    .card-horizontal p {
        color: var(--bordo);
    }


    #card-horizontal-mobile {
        display: block;
        margin: auto 2rem;
    }

    .card-horizontal > div:first-of-type {
        padding: 0rem;
    }
    .card-horizontal p {
        bottom: 0px;
        opacity: 1;
    }
    
    #info-sedes > a {
        margin: 1rem .5rem 0rem;
    }

    .sedes-general {
        width: 100%;
        flex-direction: column-reverse;
    }
    .sedes-general > div:nth-child(2) {
        position: relative;
        top: 8rem;
        left: 12rem;
        width: fit-content;
        height: fit-content;
        z-index: 99;
    }

    #obras {
        padding: 5rem 0rem 0rem;
    }

    #obras .slider-container {
        padding: 0rem .5rem;
        overflow: auto;
    }

    #obras div.slider {
        overflow: visible;
    }
    #obras div.slider-container.slider-offset > .slider {
        transform: translateX(-60px);
    }
    
    #obras div.slider article {
        width: 100%;
        height: fit-content;
        flex-direction: column-reverse;
    }

    #obras div.slider article div {
        width: 100%;
        gap: .5rem;
    }

    #obras div article div img {
        height: max-content;
        width: 100%;
    }

    #obras h2 {
        text-align: start;
        line-height: 2.75rem;
        margin: 1.5rem .5rem;
    }

    #sedes {
        padding: 0rem 0rem 5rem;
        margin-bottom: 4rem;
    }

    #sedes img {
        height: calc(30vw + 20vw);
    }

    .sedes-info {
        left: 0rem;
        width: fit-content;
        z-index: 99;
        bottom: -5rem;
    }



/* Mobile Menu */

    #section-navegador {
        display: none;
    }

    .toggle-container-mobile-menu {
        position: fixed;
        top: 20px;
        right: 0px;
        z-index: 1000;
    }
    
    .toggle-container-mobile-menu input#toggle {
        display: none;
    }


  /* Botón de alternar menú */
    .button-toggle-mobile-menu {
        position: relative;
        right: 20px;
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: var(--bordo);
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
        color: var(--gris);
        font-size: 20px;
        z-index: 10000;
        transition: all 0.3s ease;
    }
    
    .button-toggle-mobile-menu:active {
        /* position: absolute;
        right: 20px;
        z-index: 10000; */
        background-color: var(--gris);
        color: var(--bordo);
    }

    label > i:has(.button-toggle-mobile-menu:hover) {
        color: var(--amarillo);
    }
    
    /* Menú de navegación */
    .nav-mobile-menu {
        position: absolute;
        height: 100vh;
        width: 100vw;
        top: -20px;
        right: 0px;
        z-index: 99;

        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 5rem;
        
        background: linear-gradient(90deg, #A25629, #e47d1d00);
        backdrop-filter: blur(3.5px);
        padding: 1rem 2rem;

        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    .nav-mobile-menu a {
        text-decoration: none;
        padding: .5rem;
        background-color: transparent;
    }
    .nav-mobile-menu a i {
            padding-right: .5rem;
    }

    .nav-mobile-menu img {
        height: 5vh;
    }
    
    .nav-item-mobile-menu {
        display: block;
        padding: 10px;
        color: var(--gris);
        font-size: 16px;
        transition: all 0.3s ease;
    }
    
    /* Mostrar el menú cuando el checkbox está marcado */
    #toggle:checked ~ .nav-mobile-menu {
        transform: translateX(0);
    }

    .nav-redes {
        display: flex;
        padding: 2rem 0rem;
    }
    .nav-redes li {
        list-style-type: none
    }

    /* Formulario */
    div#form-contacto {
        width: 95%;
        padding: 1.3rem 1.25rem .7rem;
        margin: 0rem;
        gap: 3rem;
    }

    div#form-contacto > div:first-of-type {
        flex-direction: column;
        width: 100%;
    }

    div#form-contacto p:nth-child(1) label,
    div#form-contacto p:nth-child(2) label:first-of-type {
        grid-template-columns: 1fr;
    }

    #info-programacion .controls #allDaysContainer .day-container{
        width: 200vw;
        align-items: start;
    }
    #info-programacion .controls #allDaysContainer .day-container h2 {
        position: sticky;
        left: 1rem;
        margin: .5rem 1rem 2rem;
    }

    div#form-contacto p label.mas-datos {
        grid-template-columns: 1fr 1fr;
    }

    div#form-contacto p label input {
        border-radius: 5px;
    }

    #nosotros-tarjetas {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        padding: 0rem .5rem;
        margin: 0rem;
        gap: 1rem .5rem;
    }

    #nosotros-tarjetas > article {
        overflow: hidden;
    }

    #nosotros-tarjetas img {
        height: 25vh;
        width: 100%;
        border-radius: 0px;
    }

    #quienes-somos h2 {
        margin: 1.5rem;
    }

    .gente {
        width: auto;
        margin: 1rem;
    }

    a.sumate-equipo {
        padding: 0rem;
        overflow: hidden;
    }
    a.sumate-equipo h5 {
        padding: .3rem .5rem;
    }

    /* .misiones-mobile img:nth-child(1){
        display: none;
    }
    .misiones-mobile img:nth-child(2){
        display: block;
    } */

    .numero-obra {
        flex-direction: column;
        align-items: start;
    }


    #obras div.slider article div.info-obras {
        height: 60vh;
        overlay: auto;
    }

    .colaboradores {
        grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
        gap: 2rem;
    }

    .colaboradores img {
        max-width: 90px;
        max-height: 70px;
    }
}






/* Más de 960 px de viewport */

@media (min-width:960px) {
    #card-horizontal-mobile {
        display: none;
    }
    .toggle-container-mobile-menu {
        display: none;
    }
}